body {
    background-color: #CCCCFF;
    margin: 0;
    padding: 0;
}

.body {
    clear: both;
    margin: 0 auto;
    width: 80%;
}


/* LOGIN PAGE */
.logH {
    color: #FFF;
    margin-left: 50px;
}

#loginpage {
    margin-left: 625px;
}

.loginHead {
    width: 30%;
    border-radius: 5px 5px 0 0;
    background-color: #F2F2F2;
    padding: 0.5px;
    color: #000;
}

    .loginHead h3 {
        margin-left: 50px;
    }

.loginForm {
    width: 30%;
    background-color: #FFF;
    padding: 0.5px;
    color: #000;
    border-radius: 0 0 5px 5px;
    height: 250px;
}

    .loginForm ul {
        display: inline;
    }

    .loginForm label {
        width: 70%;
        margin-left: 35px;
    }

    .loginForm input[type=text], input[type=password] {
        width: 70%;
        padding: 12px 20px;
        margin-left: 35px;
        margin-top: 5px;
        border: 1px solid #CCCCFF;
        box-sizing: border-box;
    }

    .loginForm input[type=submit] {
        background-color: #CCCCFF;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        margin-left: 35px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

        .loginForm input[type=submit]:hover {
            background-color: #FFF;
            color: #CCCCFF;
            border: 1px solid #CCCCFF;
        }

    .loginForm ul {
        color: #CCCCFF;
    }
/* END OF LOGIN PAGE */

/* NAVIGATION BAR */
.navtab {
    width: 94%;
    text-align: center;
}

    .navtab ul li {
        display: inline;
    }

.subNav {
    width: 65%;
    text-align: center;
    background-color: #797979;
    padding: 1px;
    border-radius: 8px 8px 0 0;
    margin-left: 240px;
}

    .subNav ul li, .subNav2 ul li {
        display: inline;
        padding: 15px;
        font-size: 20px;
    }

    .subNav a, .subNav2 a {
        text-decoration: none;
        color: #333333;
        font-family: Arial, Helvetica, sans-serif;
    }

.subNav2 {
    width: 99.8%;
    text-align: center;
    background-color: #D7D7D7;
    padding: 1px;
    border-radius: 0 0 10px 10px;
}


.fill {
    text-decoration: none;
    color: #797979;
}

.active {
    background-color: #FFF;
    border-radius: 5px 5px 0 0;
    padding: 0;
}

.inactive {
    background-color: #F2F2F2;
    border-radius: 5px 5px 0 0;
    padding: 0;
}

/* END OF NAVIGATION BAR */

/* DASHBOARD PAGE CONTENT */
.dashContent {
    width: 80%;
    background-color: #FFF;
    border-radius: 5px;
    margin-left: 83px;
    padding-left: 50px;
}

    .dashContent table {
        width: 100%;
        padding: 5px;
        margin: 5px;
    }

        .dashContent table td .tbBook {
            margin-left: 50px;
        }

        .dashContent table a:visited {
            color: blue;
        }
/* END OF DASHBOARD PAGE CONTENT */

/* BOOKING CONTENT */
.bookingDetails {
    width: 65.15%;
    background-color: #FFF;
    height: 550px;
    margin-left: 240px;
}

.bookingSearch {
    padding: 15px;
    padding-left: 60px;
}

    .bookingSearch input[type=search] {
        height: 30px;
        width: 200px;
        font-size: 16px;
    }

.bookingTable table {
    width: 98%;
    margin-left: 10px;
}

.bookingTable a {
    color: blue;
}

.bookingTable table td {
    text-align: center;
}

.bookingTable th {
    background-color: #F2F2F2;
}

.bookingTable tr:nth-child(odd) {
    background-color: #F2F2F2;
}

.pagination {
    width: 98%;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: #F2F2F2;
}

.request {
    height: 30px;
}

.action {
    margin: 5px;
    margin-left: 10px;
    height: 40px;
}
/* END OF BOOKING CONTENT */

/* ADD BOOKING CONTENT */
.abDWhole {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
}

.abD, .arD, .pmD {
    width: 80%;
    margin-left: 40px;
    border: 1px solid black;
    padding: 10px;
}

.pmD {
    margin-top: 30px;
}

.arD {
    text-align: center;
}

    .abD th, .arD th, .pmD th {
        background-color: #797979;
        color: white;
        margin-bottom: 10px;
    }

    .abD input[type=button], .arD input[type=button], .pmD input[type=button] {
        background-color: #FFF;
        color: black;
        padding: 14px 20px;
        margin: 8px 0;
        border: 1px solid #797979;
        border-radius: 4px;
        cursor: pointer;
    }

.cDetails {
    width: 95%;
    margin: 30px;
    padding: 30px;
    padding-left: 80px;
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

    .cDetails th {
        color: #797979;
    }

.note input[type=text] {
    height: 100px;
    width: 300px;
}

.cDetails input[type=button] {
    background-color: #FFF;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #797979;
    border-radius: 4px;
    cursor: pointer;
}
/* END OF ADD BOOKING CONTENT */
